%table.table.tabe-striped
  %tr
    %th Name
    %th Description
    %th Distance
    %th Author
    %th Rating
  - @workouts.each do |workout|
    %tr
      %td= link_to workout.name, workout_path(workout)
      %td= workout.description
      %td= "#{workout.distance} meters"
      %td Me
      %td 4/5
