%nav.navbar.navbar-default{:role => "navigation"}
  .container
    #navbar-container.navbar-header
      = link_to 'Swimmit'.html_safe, root_path, class: 'navbar-brand', id: 'brand-text'
    %ul.nav.navbar-nav
      %li= link_to 'Workouts', workouts_path
      %li= link_to 'Create Workout', new_workout_path
      %li
        %a link
