%nav.navbar.navbar-default{:role => "navigation"}
  .container
    #navbar-container.navbar-header
      = link_to 'Swimmit'.html_safe, root_path, class: 'navbar-brand', id: 'brand-text'
    %ul.nav.navbar-nav
      %li 
        %a Workouts 
      %li
        %a link
